@use 'variables';

.main_container{
    width: 375px;
    margin: auto;
    &_bg-section{
        background-image: url('../images/bg-main-mobile.png');
        background-repeat: no-repeat;
        height: 240px;
        position: relative;
    }
    &_form-section{
        padding: 90px 24px 45px;
    }
    @media (min-width: 1440px) {
        width: 1440px;
        display: flex;
        &_bg-section{
            background-image: url('../images/bg-main-desktop.png');
            width: 900px;
            height: 900px;
        }
    }
}

