@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

//Gradients

$Linear-gradientBlue: hsl(249, 99%, 64%); 
$Linear-gradientPurple: hsl(278, 94%, 30%);

//color
$Red: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Lightgrayishviolet: hsl(270, 3%, 87%);
$Darkgrayishviolet: hsl(279, 6%, 55%);
$Verydarkviolet: hsl(278, 68%, 11%);

//fonts
$spaceGrotesk:'Space Grotesk', sans-serif;